<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="container">
                <h1 class="site-title">
                    <%= blog.title %>
                </h1>

                <p>
                    <%=blog.body%>
                </p>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum at et minima, nam quos
                    necessitatibus adipisci accusamus temporibus quidem, possimus dolorum culpa maxime veniam natus
                    obcaecati ipsum illum hic! Odio.
                </p>

                <button class="delete" data-doc="<%=blog._id%>">Delete</button>
            </div>

            <%- include("./partials/footer.ejs") %>

                <script>
                    const delBtn = document.querySelector('button.delete');

                    delBtn.addEventListener('click', function (e) {
                        const id = this.dataset.doc;
                        const url = `/blogs/delete/<%=blog._id%>`;
                        console.log(url);

                        fetch(url, {
                            method: "DELETE"
                        }).then((result) => {
                            return result.json()
                        }).then((result) => {
                            console.log(result)
                            window.location.href=result.redirect
                        }).catch((err) => {
                            console.log(err)
                        });
                    })
                </script>
    </body>

</html>